@charset "EUC-KR";
::-webkit-scrollbar {
	display:none;
} 
a{
	text-decoration: none;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #212121;
}
button{
	cursor:pointer;
}
table{
	border-spacing: 0px;
}
input, button, textarea, select{
	outline: none;
}
textarea{
	resize: none;
}
h2{
	color:#CFD8DC;
}
#siteTitleArea{
	width:100%;
	position:fixed;
	top:-52px;
	z-index: 9999;
	-webkit-transition:all 0.3s ease-out;
}
#siteMenuArea{
	background-color:#CFD8DC99;
	height: 50px;
	width: 100%;
	z-index: 9999;
}
#siteMenuArea2{
	width:1000px;
}
#siteTitleArea2 {
	width: 1000px;
}
#siteTitleTd{
	height:100px;
	padding-left: 15px;
}
#siteURL{
	color:#EF9A9A;
	font-weight: 800;
	margin-top: 10px;
	font-size: 13pt;
}
#siteTitle{
	color:#CFD8DC;
	font-size: 20pt;
	font-weight: 900;	
}
.siteMenu{
	color:white;
	font-size: 13pt;
	font-weight: 700;
	margin-left: 20px; 
	margin-right: 20px;
}
.siteMenu:hover{
	color:#37474F;
}
#siteLoginArea{
	position: fixed;
	top:0px;
	right: 0px;
	z-index: 9999;
	-webkit-transition:all 0.3s ease-out;
}
#siteContentArea{
	width:100%;
	margin-top:150px; 
}

#siteContentArea2{
	width: 1000px;
}
#weather{
	-webkit-transition:opacity 0.5s ease-out;
	color:white;
	font-weight:800;
	width:200px;
	position: fixed; 
	font-size: 10pt;
	opacity:0;
}
#wtImg{
	width: 40px;
}
#temp{
	font-size: 9pt;
}
