@charset "UTF-8";

#ca_Table{
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
}

#ca_Table tr{
	border: 1px;
}

#ca_Table span{
	border: 1px;
	width: 300px;
}

.containerDIVC{
	margin-top: -50px;
} 
.containerDIVCA{
	display: inline-block;  
	position: relative; 
	width: 750px;	height: 460px;
	margin: 10px 5px; 
	padding: 3px; 
	border: 1px dotted #F4F6F7; 
	border-radius: 2px; 
	box-shadow: 5px 5px #F4F6F7;
	overflow: scroll;
} 

.spanTITLECA{
	font-family: Gothic A1;
	font-size: 14pt;
	font-weight: 600;
	color: #c7d2d6;
	padding-bottom: 3px;
	border-bottom: 2px double #ECF0F1;
}
.tableCSS1{
	border: 1px;
}
.tableTD1{
	font-family: FrankRuehl;
	width: 120px;
	color: #AEB6BF;
	
}
.tableTD1_1{ 
	font-family: Gothic A1;
	color: #AEB6BF;
}
.tableTD2{ 
	font-family: FrankRuehl; 
	width: 240px;  
	color: #AEB6BF;
}
.tableTD2_1{ 
	font-family: Gothic A1;
	color: #AEB6BF;
}
.tableTD3{
	font-family: FrankRuehl;
	width:150px; 
	color: #AEB6BF;
}
.tableTD3_1{ 
	border-bottom: 1px red;
	color: #AEB6BF;
}
.tableTD4{
	border-bottom: none;
	border-right: none;
	border-right: none; 
}

.addB{
	background-color: #F8F9F9;
	border: none;
	border-radius: 2px;
	width: 80px;
	font-family: Gothic A1;
	color: #34495E;
	font-size: 12;
	padding-left: 0px;
	padding: 2px 20px;
}
.addB:hover {
	background-color: #E8F8F5;
	color: #34495E;
	cursor: pointer;
}

.fixSpanCSS{
	
} 
.SelectedTypeCSS{
	
}
.modiBCSS{
	background-color: white;
	border: none;
	border-radius: 2px;
	width: 40px;
	font-family: Gothic A1;
	color: #AEB6BF;
	font-size: 12;
	padding-left: 0px;
}
.modiBCSS:hover {
	background-color: #E8F8F5;
	color: #34495E;
	cursor: pointer;
}
.regBCSS{
	background-color: white;
	border: none;
	border-radius: 2px;
	width: 40px;
	font-family: Gothic A1;
	color: #AEB6BF;
	font-size: 12;
	padding-left: 0px;
}
.regBCSS:hover {
	background-color: #E8F8F5;
	color: #34495E;
	cursor: pointer;
} 

.delCSS{ 
	background-color: white;
	border: none;
	border-radius: 2px;
	width: 40px;
	font-family: Gothic A1;
	color: #AEB6BF;
	font-size: 12;
	padding-left: 0px;
}
.delCSS:hover {
	background-color: #E8F8F5;
	color: #34495E;
	cursor: pointer;
} 

.resultMGCSS{
	background-color: yellow;
}

.selectCSS{
	
}


.delBtnCSS{
	background-color: #F8F9F9;
	border: none;
	border-radius: 2px;
	width: 50px;
	font-family: Gothic A1;
	color: #34495E;
	font-size: 12;
	padding-left: 0px;
}
.delBtnCSS:hover {
	background-color: #E8F8F5;
	color: #34495E; 
	cursor: pointer;
}