#input{
	border-bottom: 1px solid #6464ff;
	border-top: none;
	border-left: none;
	border-right: none;
}

#selectColorListBtn {
	margin-left: 30%;
	border: none;
	height: 30px; 
	width: 120px;
	background-color: white;
	border-radius: 5px; 
	border: none;
	cursor: pointer;
}
#selectColorListBtn:hover {
	border: none;
	background-color: #9932CC;
	color: white; 
}
#colorBtn {
	margin-left: 30%;
	border: none;
	height: 30px;
	width: 120px;
	background-color: white;
	border-radius: 5px;
	border: none; 
	cursor: pointer;
}
#colorBtn:hover {
	border: none;
	background-color: #9932CC;
	color: white; 
}
#closeBtn { 
	margin-left: 30%;
	border: none;
	height: 30px;
	width: 120px;
	border-radius: 5px;
	background-color: white; 
	border: none;
	cursor: pointer;  
}
#closeBtn:hover {
	border: none;
	background-color: #9932CC;
	color: white;
}
#resetBtn { 
	margin-left: 30%; 
	border: none;
	height: 30px;
	width: 120px;
	border-radius: 5px;
	background-color: white;
	border: none;
	cursor: pointer;  
}
#resetBtn:hover {
	border: none;
	background-color: #9932CC;
	color: white;
}
